# don't upload data files to git
sip/__pycache__/

sip/gym_sip/__pycache__/
sip/gym_sip/h/__pycache__/

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

sip/gym_sip/data


# don't upload models to git
sip/models/

sip/gym_sip/data/3_years_of_data.csv

sip/gym_sip/data/bangout.csv

sip/lvo/__pycache__/
sip/lvo/notebooks/.ipynb_checkpoints

sip.egg-info/

*.csv
