*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/

*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp

*.out
*/*.out
*/*/*.out
*/*/*/*.out

*.csv
*/*.csv
*/*/*.csv
*/*/*/*.csv

sips/gym_sip/data


# don't upload models to git
sips/models/
sips/gym_sip/models/

sips.egg-info/
sips/gym_sip/gym_sip.egg-info
dist/
build/
