# don't upload data files to git
sips/__pycache__/

sips/gym_sip/__pycache__/
sips/gym_sip/h/__pycache__/

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/

*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp

sips/gym_sip/data


# don't upload models to git
sips/models/
sips/gym_sip/models/

sips/gym_sip/data/3_years_of_data.csv

sips/gym_sip/data/bangout.csv

sips/lvo/__pycache__/
sips/lvo/notebooks/.ipynb_checkpoints

sips.egg-info/
sips/gym_sip/gym_sip.egg-info
dist/
build/

*.csv
